@import "../uikit/variables"
@import "../mixins"

.pos-list
  width: 100%
  height: 100%
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: auto
  list-style: none
  margin: 0
  position: relative
  padding: $global-margin 0

  & > li
    padding: $global-xsmall-margin $global-small-gutter 0 $global-small-gutter
    @media(max-width: $breakpoint-small)
      padding: $global-small-margin $global-small-margin 0 $global-small-margin

  & > li:nth-child(n+2)
    margin-top: $global-xsmall-margin
    border-top: $global-border-width solid $global-border
    border-radius: 0

  .uk-input
    border-radius: 0
    border-width: 0 0 $global-border-width 0
