@import "../uikit/variables"
@import "../mixins"

.pos-list
  width: 100%
  height: 100%
  box-sizing: border-box
  overflow-x: hidden
  overflow-y: auto
  list-style: none
  margin: 0
  position: relative
  padding: $global-margin 0

  & > li
    padding: 0 $global-small-gutter 0 $global-small-gutter
    min-height: 40px
    @media(max-width: $breakpoint-small)
      padding: 0 $global-small-margin 0 $global-small-margin

  & > li:nth-child(n+2)
    //margin-top: $global-xsmall-margin
    border-top: $global-border-width solid $global-border
    border-radius: 0

  .uk-form-label
    margin-top: 9px
    display: block

  .uk-input
    border-radius: 0
    border-width: 0 0 $global-border-width 0

  .uk-input-text
    padding: 0 $global-small-margin

  .pos-button-select,
  .uk-input,
  .pos-textarea
    transform: translateY(1px)
