{
  'beans' => {
               'default_tube' => 'main',
               'server' => 'localhost:11300'
             },
  'host' => 'http://127.0.0.1:4444',
  'url'  => 'http://freee',
  'expires' => '6000',
  'debug' => 1,
  'secrets' => [
                 '187be8b67d3b264a5c536a7f2b13a8557103769b'
               ],
  'export_settings_path' => '/home/troll/work/scorm/master/settings',
  'timezones' => 'client/admin/src/assets/json/proto/timezones.json',
  'countries' => 'client/admin/src/assets/json/proto/countries.json',
  'UserFlags' => {
                   'Active' => 1,
                   'PhoneConfirmed' => 4,
                   'EmailConfirmed' => 2
                 },
  'desc_extension' => 'desc',
  'dbs' => {
             'databases' => {
                              'pg_main_test' => {
                                                  'password' => '',
                                                  'username' => '',
                                                  'options' => {
                                                                 'pg_auto_escape' => 1,
                                                                 'pg_server_prepare' => 0,
                                                                 'RaiseError' => 1,
                                                                 'AutoCommit' => 1,
                                                                 'PrintError' => 1,
                                                                 'pg_enable_utf8' => 1
                                                               },
                                                  'dsn' => 'dbi:Pg:dbname=scorm_test;host=localhost;port=5432'
                                                },
                              'pg_main' => {
                                             'options' => {
                                                            'pg_auto_escape' => 1,
                                                            'RaiseError' => 1,
                                                            'pg_server_prepare' => 0,
                                                            'pg_enable_utf8' => 1,
                                                            'PrintError' => 1,
                                                            'AutoCommit' => 1
                                                          },
                                             'password' => 'Yfenbkec_1',
                                             'username' => 'troll',
                                             'dsn' => 'dbi:Pg:dbname=scorm;host=localhost;port=5432'
                                           }
                            }
           },
  'field_types' => {
                     'InputSelect' => 1,
                     'InputNumber' => 1,
                     'inputDateTime' => 1,
                     'InputText' => 1,
                     'InputList' => 1,
                     'InputTextarea' => 1,
                     'InputDoubleList' => 1,
                     'InputBoolean' => 1,
                     'InputRadio' => 1,
                     'InputFile' => 1,
                     'InputRichText' => 1
                   },
  'test' => 0,
  'log' => '/log/mojo.log'
}
