@import "./../../../assets/sass/uikit/variables"
@import "./../../../assets/sass/mixins"

/** VIDEO
.pos-lesson-video
  grid-area: video
  border-bottom: $global-border-width solid $global-border
  @media (max-width: $breakpoint-large)
    position: sticky
    top: 0
    z-index: 10

.pos-lesson-video-outer
  position: relative


// screen
.pos-lesson-video-screen
  object-fit: cover

  &.main-screen
    position: static

  &.second-screen
    z-index: 2
    position: absolute
    //background-color: #555d67
    opacity: .8
    //display: flex
    width: 30%
    overflow: hidden
    border-radius: $border-rounded-border-radius
    margin: $global-xsmall-margin
    box-shadow: $global-medium-box-shadow
    top: 0
    bottom: auto
    left: auto
    right: 0

    &.right
      left: auto
      right: 0

    &.left
      left: 0
      right: auto

    &.top
      top: 0
      bottom: auto

    &.bottom
      bottom: 0
      top: auto

.pos-lesson-video__controls
  background-color: $global-background
  display: flex
  padding: $global-margin
  @media (max-width: $breakpoint-large)
    padding: $global-small-margin
