@import "../uikit/variables"
@import "../mixins"

$table-min-width: 100px
$table-max-width: $table-min-width * 8
.pos-table-container

  overflow: auto
  position: relative
  height: 100%
  width: 100%
  box-sizing: border-box

.pos-padding
  & > .pos-table-container
    border: $global-border-width solid $global-border
    border-radius: $border-rounded-border-radius

.pos-table
  margin: 0

  a
    & > svg
      transform: translateY(-2px)

  tbody tr,
  thead tr
    background-color: $global-background

  tbody td,
  thead th
    box-sizing: border-box

    &:not(:first-child)
      border-left: $global-border-width solid $global-border

    &:last-child
      padding: 0 $global-small-margin


  thead th
    text-transform: none
    font-size: .8rem
    color: $global-color
    vertical-align: middle
    line-height: 1.1

    & > *
      display: inline-block
      min-height: 24px
      line-height: 24px

      svg
        transform: translateY(-2px)

  .pos-checkbox-switch
    transform: translateY(2px)

.pos-table-row
  min-width: $table-min-width
  max-width: $table-max-width
  @media (max-width: $breakpoint-xlarge)
    min-width: $table-min-width / 2
    max-width: $table-max-width / 2
  @media (max-width: $breakpoint-large)
    min-width: $table-min-width / 3
    max-width: $table-max-width / 3

  &:not(.ellipsis)
    & > *
      overflow-wrap: break-word
      word-wrap: break-word
      overflow-x: hidden
      overflow-y: auto
      max-height: $table-min-width

  &.ellipsis
    & > *
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap


  &::selection,
  & > *::selection
    color: inherit
    background-color: inherit


.pos-table-checkbox
  box-sizing: border-box
  position: sticky
  right: 0
  background-color: inherit
  border-left: $global-border-width solid $global-border

  & > *
    min-width: 16px

.pos-table-header
  position: sticky
  top: 0
  z-index: 2
  background-color: $global-background

.pos-table-expand
  text-align: center
  position: sticky
  left: 0
  background-color: inherit

