@import "./../../../assets/sass/uikit/variables"
@import "./../../../assets/sass/mixins"

.pos-dashboard
  display: flex
  height: 100%
  overflow: hidden

.pos-dashboard-calendar
  width: 40%
  max-width: 800px
  min-width: 400px
  border-right: $global-border solid $global-border-width

.pos-dashboard-tasks
  flex: 1
  min-width: 200px
