@import "uikit/variables"

.perspective-container
  will-change: transform
  perspective: 300px
  position: relative

// SLIDE LEFT
.slide-left-enter-active,
.slide-left-leave-active
  transition: all .25s ease-out

.slide-left-enter,
.slide-left-leave-to
  transform: translateX(-100%)

// SLIDE RIGHT
.slide-right-enter-active,
.slide-right-leave-active
  transition: all .25s ease-out

.slide-right-enter,
.slide-right-leave-to
  transform: translateX(100%)

// SLIDE BOTTOM
.slide-bottom-enter-active,
.slide-bottom-leave-active
  transition: all .25s ease-out

.slide-bottom-enter,
.slide-bottom-leave-to
  transform: translateY(100%)

// FADE
.fade-enter-active,
.fade-leave-active
  transition: all 0s ease-in-out

.fade-enter,
.fade-leave-to
  opacity: 0
